<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>Все пользователи</h1>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Департамент</th>
        <th>З/П</th>
        <th>Операции</th>
    </tr>
    </thead>
    <tbody>
<!--    method="get"-->
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.salary}"></td>
        <td>
            <form th:method="PATCH" th:action="@{/admin/updateInfo}" th:url="updateButton">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="submit" class="update-button" value="Изменить" onclick="window.location.href = '${updateButton}'"/>
            </form>
            <br>
            <form  th:method="DELETE" th:action="@{/admin/deleteUser}" th:url="deleteButton">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="submit" class="delete-button" value="Удалить" onclick="window.location.href = '${deleteButton}'"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<input type="button" value="Добавить"
       onclick="window.location.href = '/admin/addNewUser'"/>
</body>
</html>